In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('cencus.csv')

In [ ]:
data.head()

how to hide indexes of the data

In [ ]:
data.style.hide()

how to change the caption/head of the data frame

In [ ]:
data.style.set_caption('census dataset')

check the  related with the district - new delhi,lucknow and jaipur

In [19]:
data['District_name']

0                        Kupwara
1                         Badgam
2                    Leh(Ladakh)
3                         Kargil
4                          Punch
                 ...
635                         Mahe
636                     Karaikal
637                     Nicobars
638    North  AND Middle Andaman
639                South Andaman
Name: District_name, Length: 640, dtype: object

In [21]:
data[data['District_name'].isin(['New Delhi', 'Lucknow','Jaipur'])]

,District_code,State_name,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
93,94,NCT OF DELHI,New Delhi,142004,77942,64062,114179,59541,46940,12601,...,4852,2933,312,679,15942,17742,23934,76076,43913,21773
109,110,RAJASTHAN,Jaipur,6626178,3468507,3157671,4300965,2464893,1714947,749946,...,12708,18782,1020,81079,659389,455527,703673,4091148,1646480,884057
156,157,UTTAR PRADESH,Lucknow,4589838,2394476,2195362,3127260,1542806,1226399,316407,...,20493,23883,3877,4975,428121,378742,639260,2678289,1161686,685258

Calculate statewise
A; total number of population
b;Total number of population with different religion

A:total number of population

In [25]:
data.groupby('State_name').Population.sum().sort_values(ascending=False)

State_name
UTTAR PRADESH                  199812341
MAHARASHTRA                    112374333
BIHAR                          104099452
WEST BENGAL                     91276115
ANDHRA PRADESH                  84580777
MADHYA PRADESH                  72626809
TAMIL NADU                      72147030
RAJASTHAN                       68548437
KARNATAKA                       61095297
GUJARAT                         60439692
ORISSA                          41974218
KERALA                          33406061
JHARKHAND                       32988134
ASSAM                           31205576
PUNJAB                          27743338
CHHATTISGARH                    25545198
HARYANA                         25351462
NCT OF DELHI                    16787941
JAMMU AND KASHMIR               12541302
UTTARAKHAND                     10086292
HIMACHAL PRADESH                 6864602
TRIPURA                          3673917
MEGHALAYA                        2966889
MANIPUR                          2855794
NAGALAND                         1978502
GOA                              1458545
ARUNACHAL PRADESH                1383727
PONDICHERRY                      1247953
MIZORAM                          1097206
CHANDIGARH                       1055450
SIKKIM                            610577
ANDAMAN AND NICOBAR ISLANDS       380581
DADRA AND NAGAR HAVELI            343709
DAMAN AND DIU                     243247
LAKSHADWEEP                        64473
Name: Population, dtype: int64

B:Total number of population with different religion

In [43]:
data.groupby('State_name')[['Hindus', 'Muslims', 'Christians', 'Sikhs', 'Buddhists', 'Jains']].sum()

,Hindus,Muslims,Christians,Sikhs,Buddhists,Jains
State_name,,,,,,
ANDAMAN AND NICOBAR ISLANDS,264296,32413,80984,1286,338,31
ANDHRA PRADESH,74824149,8082412,1129784,40244,36692,53849
ARUNACHAL PRADESH,401876,27045,418732,3287,162815,771
ASSAM,19180759,10679345,1165867,20672,54993,25949
BIHAR,86078686,17557809,129247,23779,25453,18914
CHANDIGARH,852574,51447,8720,138329,1160,1960
CHHATTISGARH,23819789,514998,490542,70036,70467,61510
DADRA AND NAGAR HAVELI,322857,12922,5113,217,634,1186
DAMAN AND DIU,220150,19277,2820,172,217,287
GOA,963877,121564,366130,1473,1095,1109
GUJARAT,53533988,5846761,316178,58246,30483,579654
HARYANA,22171128,1781342,50353,1243752,7514,52613
HIMACHAL PRADESH,6532765,149881,12646,79896,78659,1805
JAMMU AND KASHMIR,3566674,8567485,35631,234848,112584,2490
JHARKHAND,22376051,4793994,1418608,71422,8956,14974
KARNATAKA,51317472,7893065,1142647,28773,95710,440280
KERALA,18282492,8873472,6141269,3814,4752,4489
LAKSHADWEEP,1788,62268,317,8,10,11
MADHYA PRADESH,66007121,4774695,213282,151412,216052,567028
MAHARASHTRA,89703057,12971152,1080073,223247,6531200,1400349
MANIPUR,1181876,239836,1179043,1527,7084,1692
MEGHALAYA,342078,130399,2213027,3045,9864,627
MIZORAM,30136,14832,956331,286,93411,376
NAGALAND,173054,48963,1739651,1890,6759,2655
NCT OF DELHI,13712100,2158684,146093,570581,18449,166231
ORISSA,39300341,911670,1161708,21991,13852,9420
PONDICHERRY,1089409,75556,78550,297,451,1400
PUNJAB,10678138,535489,348230,16004754,33237,45040
RAJASTHAN,60657103,6215377,96430,872930,12185,622023
SIKKIM,352662,9867,60522,1868,167216,314
TAMIL NADU,63188168,4229479,4418331,14601,11186,89265
TRIPURA,3063903,316042,159882,1070,125385,860
UTTAR PRADESH,159312654,38483967,356448,643500,206285,213267
UTTARAKHAND,8368636,1406825,37781,236340,14926,9183
WEST BENGAL,64385546,24654825,658618,63523,282898,60141

how many males work in manhattta

In [48]:
data[data.State_name == 'MAHARASHTRA']['Male_Workers'].sum()

32616875